*{
  font-family: 'Roboto Condensed', sans-serif;
}

body{
  /*background: #F0F2F0;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background:#f0f0ff; */
  background: #FFFFFF;
}

.nav-link{
  color:black;
}

.navbar{
  /* background:#abd6e8; */
  background:#dceafd;
}

.content-section{
  width:500px;
  margin:auto;
  margin-top:5%;
  border:1px solid;
  border-radius: 1%;
  padding:2rem;
}
