{% extends "display/base.html" %}
{% load humanize %}
{% block title%}
  <title>Coin Watcher</title>
{% endblock %}

{% block content %}
<div id = "dtable" class="container-fluid">
  <div class="">
    <table class="table">
      <thead class = "thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Market Cap</th>
          <th scope="col">Total Volume</th>
          <th scope="col">Current Price</th>
        </tr>
      </thead>
        <tbody>
          {% for idx, crypto in currencies.items %}
            <tr>
              <th scope="row"> <a href="{%url 'crypto-page' idx%}"> {{crypto.name}}</a></th>
              <td> ${{ crypto.market_cap|intcomma }}</td>
              <td> {{ crypto.total_volume }}</td>
              <td> ${{ crypto.current_price|intcomma }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
