{% extends "display/base.html"%}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'display/main.css'%}?{% now "U" %}">
  <link rel="stylesheet" href="{% static 'display/list.css'%}?{% now "U" %}">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <table id = "coin-table" class="table table-hover table-bordered">
      <thead class = "">
        <tr>
          <th class = "th-top" scope="col">Name</th>
          <th class = "th-top" scope="col">Current Price</th>
          <th class = "th-top" scope="col">Own</th>
          <th class = "th-top" scope="col">Value</th>
        </tr>
      </thead>
        <tbody>
          {% for cname, crypto in holdings.items %}
            <tr>
              <th scope="row"> <a href="{%url 'crypto-page' cname%}"> {{crypto.name}}</a></th>
              <td> ${{ crypto.current_price}}</td>
              <td> ${{ crypto.owned }}</td>
              <td> ${{ crypto.value }}</td>
            </tr>
          {% endfor %}
        
        </tbody>
    </table>
  </div>
</div>

{% endblock %}
